@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #2D2D2D;
  --gray2: #00000005;
  --gray10: #0000001a;
  --gray40: #00000066;
  --green-buttons: #00BC32;
  --red-buttons: #D62000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
